<a href="https://colab.research.google.com/github/seunghak421/section2_project-/blob/main/%08AI_13_%EB%B0%B1%EC%8A%B9%ED%95%99_section2_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ÎáåÏ°∏Ï§ë

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data_stroke='/content/drive/MyDrive/Stroke.csv'

In [ ]:
import pandas as pd
df=pd.read_csv(data_stroke)

In [ ]:
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [ ]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
df=df.dropna()

In [ ]:
df.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [ ]:
df.gender.replace({'Male':1,'Female':0},inplace = True)
df.ever_married.replace({'Yes':1,'No':0},inplace = True)
df.Residence_type.replace({'Urban':1,'Rural':0},inplace = True)

In [ ]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000,4909.000000
mean,37064.313506,42.865374,0.091872,0.049501,105.305150,28.893237,0.042575
std,20995.098457,22.555115,0.288875,0.216934,44.424341,7.854067,0.201917
min,77.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,18605.000000,25.000000,0.000000,0.000000,77.070000,23.500000,0.000000
50%,37608.000000,44.000000,0.000000,0.000000,91.680000,28.100000,0.000000
75%,55220.000000,60.000000,0.000000,0.000000,113.570000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [ ]:
target='stroke'

In [ ]:
#ÌîÑÎ°úÏ†ùÌä∏Ïóê ÏÇ¨Ïö©Ìï† Îç∞Ïù¥ÌÑ∞Îäî ÎáåÏ°∏Ï¶ù ÌôòÏûêÎì§Ïóê Í¥ÄÌïú Îç∞Ïù¥ÌÑ∞ ÏûÖÎÇòÎã§.
#ÎÇòÏù¥,ÏÑ±Î≥Ñ,Í≥†ÌòàÏïï,Ïã¨Ïû•ÏßàÌôò,Í≤∞ÌòºÏó¨Î∂Ä,Í±∞Ï£ºÏßÄ,ÌòàÎãπ,Ï≤¥ÏßàÎüâ,Ìù°Ïó∞Ïó¨Î∂ÄÎ°ú Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Íµ¨ÏÑ±Ìï©ÎãàÎã§.
#ÌÉÄÍ≤üÏùÄ ÎáåÏ°∏Ï¶ù ÏûÖÎãàÎã§.

### 2) ÌíÄÍ≥†Ïûê ÌïòÎäî Î¨∏Ï†úÍ∞Ä Î∂ÑÎ•ò/ÌöåÍ∑Ä Î¨∏Ï†úÏù∏ÏßÄ Ï†ïÌï©ÎãàÎã§.
**(Urclass Quiz)** Îã§Ïù¥ÏïÑÎ™¨ÎìúÎ•º Î≥¥Í¥ÄÌïòÍ∏∞ ÏúÑÌï¥ Í∏àÍ≥†Î•º ÎßåÎì§ÏóàÏäµÎãàÎã§. Í∏àÍ≥†Í∞Ä ÎÑàÎ¨¥ ÏûëÏïÑÏÑú Í∞ÄÍ≤©Ïù¥ ÏÉÅÏúÑ 25%Ïù∏ Í≤ÉÎßå Î≥¥Í¥ÄÌïòÎ†§Í≥† Ìï©ÎãàÎã§. Ïù¥Î•º ÏúÑÌï¥ 'price' ÌäπÏÑ±ÏùÑ Ïù¥Ïö©Ìï¥ Í∏àÍ≥†Ïóê Î≥¥Í¥ÄÌï† Îã§Ïù¥ÏïÑÎ™¨ÎìúÏôÄ Í∑∏Î†áÏßÄ ÏïäÏùÄ Í≤ÉÏúºÎ°ú Î∂ÑÎ•òÌïòÎäî Ïù¥ÏßÑÎ∂ÑÎ•ò Ïª¨ÎüºÏùÑ ÎßåÎì§Ïñ¥ ÌÉÄÍ≤ü ÌäπÏÑ±ÏúºÎ°ú ÏÇ¨Ïö©Ìï† Í≤ÉÏûÖÎãàÎã§. ÌÉÄÍ≤ü ÌäπÏÑ±Ïùò ÏµúÎπàÍ∞íÏùò ÎπàÎèÑÏàòÎ•º Ï†ÅÏñ¥Ï£ºÏÑ∏Ïöî.
- 'top25'ÎùºÎäî ÏÉàÎ°úÏö¥ ÌÉÄÍ≤üÎ≥ÄÏàò(Ïª¨Îüº)Î•º ÎßåÎì§Ïñ¥Ï£ºÏÑ∏Ïöî.
- ÏÉÅÏúÑ 25% Ïù¥ÏÉÅ True, ÏÉÅÏúÑ 25% ÎØ∏Îßå False

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ### 
import seaborn as sns
diamonds = sns.load_dataset('diamonds')

In [ ]:
diamonds.dtypes

carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
price         int64
x           float64
y           float64
z           float64
dtype: object

In [ ]:
diamonds['price'].describe()

count    53940.000000
mean      3932.799722
std       3989.439738
min        326.000000
25%        950.000000
50%       2401.000000
75%       5324.250000
max      18823.000000
Name: price, dtype: float64

In [ ]:
diamonds['top25']=diamonds['price']>5324.25

In [ ]:
diamonds['top25'].value_counts()

False    40455
True     13485
Name: top25, dtype: int64

### 3) ÌÉÄÍ≤üÏùò Î∂ÑÌè¨Î•º Î∂ÑÏÑùÌïòÍ≥† ÏÇ¨Ïö©Ìï† ÌèâÍ∞ÄÏßÄÌëúÎ•º ÏÑ†ÌÉùÌï©ÎãàÎã§. ÌèâÍ∞ÄÏßÄÌëúÎ•º ÏÑ†ÌÉùÌïú Ïù¥Ïú†Î•º ÏÑ§Î™ÖÌïòÏÑ∏Ïöî.
- Î∂ÑÎ•ò: ÌÅ¥ÎûòÏä§Í∞Ä Î™á Í∞úÏù∏ÏßÄ? ÌÅ¥ÎûòÏä§ ÎπÑÏú®Ïù¥ Ïñ¥Îñ§ÏßÄ(balance or imbalance)
- ÌöåÍ∑Ä: ÌÉÄÍ≤ü Î∂ÑÌè¨Í∞Ä right-skewed Ïù∏ÏßÄ? log-transformÏùÑ ÏÇ¨Ïö©Ìï† Í≤ÉÏù∏ÏßÄ?
- Î∂ÑÎ•ò: Îã§Ïàò ÌÅ¥ÎûòÏä§(majority class) ÎπÑÏú®Ïù¥ 50%~70% Ïù∏ Í≤ΩÏö∞ Ï†ïÌôïÎèÑ(accuracy)Îßå ÏÇ¨Ïö©Ìï¥ÎèÑ Î¨¥Î∞©Ìï©ÎãàÎã§. ÌïòÏßÄÎßå Î≤îÏúÑÎ•º ÎÑòÏñ¥ÏÑ§ Í≤ΩÏö∞ Ï†ïÌôïÎèÑÎßåÏùÑ ÏÇ¨Ïö©Ìï¥ÏÑúÎäî Î™®Îç∏ÏùÑ ÏûòÎ™ª Ïù¥Ìï¥Ìï† Ïàò ÏûàÏäµÎãàÎã§. Ïñ¥Îñ§ ÌèâÍ∞ÄÏßÄÌëúÎ•º ÏÇ¨Ïö©Ìï¥Ïïº Ìï†ÍπåÏöî?
- ÌöåÍ∑Ä: MAE, RMSE, R^2 Îì±ÏùÑ ÏÇ¨Ïö©Ìï† Ïàò ÏûàÏäµÎãàÎã§.

---


**(Urclass Quiz)** Ïó¨Îü¨Î∂ÑÎì§Ïù¥ ÌîÑÎ°úÏ†ùÌä∏Ïóê ÏÇ¨Ïö©Ìï† Îç∞Ïù¥ÌÑ∞Ïùò Í∏∞Ï§ÄÎ™®Îç∏Í≥º ÏÇ¨Ïö©Ìï† ÌèâÍ∞ÄÏßÄÌëúÎ•º Ï†úÏ∂úÌï¥Ï£ºÏÑ∏Ïöî.

In [ ]:
df['stroke'].value_counts(normalize = True)
#ÌÅ¥ÎûòÏä§ 2Í∞ú ÎπÑÏú®-> Î∂àÍ∑†Ìòï
#Î∂ÑÎ•ò
#Î∂àÍ∑†Ìòï Îç∞Ïù¥ÌÑ∞ (accuracyÎßå ÏÇ¨Ïö©Ìï¥ÏÑúÎäî ÏïàÎêúÎã§.)
#Ïò§Ï∞®ÌñâÎ†¨,Ï†ïÎ∞ÄÎèÑÏôÄ Ïû¨ÌòÑÏú®,f1Ïä§ÏΩîÏñ¥,rocÍ≥°ÏÑ†Í≥º aucÎì± ÏùÑ Í∞ôÏù¥ ÏÇ¨Ïö©ÌïúÎã§.

0    0.957425
1    0.042575
Name: stroke, dtype: float64

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú(Github - Discussion)

### 4) Ïã§Î¨¥ÏóêÏÑú Îç∞Ïù¥ÌÑ∞Î∂ÑÏÑùÍ∞Ä/Îç∞Ïù¥ÌÑ∞ÏóîÏßÄÎãàÏñ¥/Îç∞Ïù¥ÌÑ∞ÏÇ¨Ïù¥Ïñ∏Ìã∞Ïä§Ìä∏ÏóêÍ≤å Ï§ëÏöîÌïú Ïó≠ÎüâÏù¥ Î¨¥ÏóáÏù¥ÎùºÍ≥† ÏÉùÍ∞ÅÌïòÎ©∞, Ïñ¥Îñ§ Ïñ¥Î†§ÏõÄÏùÑ Í≤™Í≤å Îê† Í≤É Í∞ôÏùÄÏßÄÏôÄ Ïñ¥Îñ§ Îä•Î†•Ïù¥ ÌïÑÏöîÌï† ÏßÄ ÎÖºÏùòÌï¥ Î≥¥ÏÑ∏Ïöî. ÎòêÌïú, ÏÑπÏÖò2 ÌîÑÎ°úÏ†ùÌä∏Ïóê ÏïûÏÑú Î≥∏Ïù∏Ïù¥ ÏñªÍ≥†Ïûê ÌïòÎäî Ï†êÏù¥ÎÇò Îã§Ïßê Îì±ÏùÑ ÏÑúÎ°ú Í≥µÏú†Ìï¥ Î≥¥ÏÑ∏Ïöî.

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###